@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --primary: #c0f497;
  --scondary: #e0faca;

  --font-green: #62a82b;
  --font-dark-green: #3d7313;
  --font-black: #1e1e1e;
  --font-grey: #ababab;
  --font-dark-grey: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
}

.main_section {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1;
  grid-template-areas: "sidebar" "content";
}

.sidebar {
  position: relative;
  grid-area: "sidebar";
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1.5px solid #dedede;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 10%;
  width: 220px;
  height: 120px;
  border-radius: 50%;
  background: #b3ff99;
  background-image: radial-gradient(
      at 100% 0%,
      hsla(162, 100%, 80%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 9% 89%, hsla(219, 100%, 82%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 98%, hsla(201, 100%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(254, 91%, 86%, 1) 0px, transparent 50%);
  z-index: -1;
  filter: blur(80px);
}

.sidebar::before {
  content: "";
  position: fixed;
  top: 70%;
  left: 10%;
  width: 220px;
  height: 120px;
  border-radius: 50%;
  background: #b3ff99;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(294, 100%, 86%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, hsla(189, 100%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 89%, hsla(4, 100%, 80%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 98%, hsla(261, 100%, 80%, 1) 0px, transparent 50%);
  z-index: -1;
  filter: blur(80px);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.content {
  grid-area: "content";
  background: #f9fbfc;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* -------------------😇sidebar---------------------- */
.close_navbar {
  display: none;
}

.logo {
  width: 100%;
  padding: 1rem 1rem;
  font-family: var(--font-poppins);
  color: var(--font-green);
  font-weight: 800;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo .icon {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1.8rem;
  background: rgba(158, 208, 158, 0.1);
  border-radius: 5px;
}

.logo .link_text {
  display: flex;
  align-items: center;
}

.sidebar_links {
  margin-top: 1rem;
}

.sidebar_links .link {
  position: relative;
  width: 100%;
  padding: 0.8rem 1rem;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.link:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: var(--font-green);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.link:hover .icon {
  color: var(--font-green);
}

.link:hover .link_text {
  color: var(--font-green);
}

.link .icon {
  display: flex;
  align-items: center;
  color: var(--font-dark-grey);
  font-size: 1.4rem;
}

.link .link_text {
  display: flex;
  align-items: center;
  color: var(--font-grey);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

.sidebar_bar {
  margin-top: 2.4rem;
  padding-left: 1rem;
  color: var(--font-black);
  font-size: 0.7rem;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-transform: uppercase;
}

.sidebar_links:nth-child(4) .link .link_text {
  color: var(--font-dark-grey);
}

.sidebar_links:nth-child(4) .link:hover .link_text {
  color: var(--font-green);
}

.help_card {
  position: relative;
}

.help_card .card {
  position: relative;
  margin: 2rem 1rem;
  padding: 2rem 1rem;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  text-align: center;
  font-family: var(--font-poppins);
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
}

.card::after {
  content: "";
  position: absolute;
  top: -80px;
  left: -80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--scondary);
}

.card::before {
  content: "";
  position: absolute;
  bottom: -80px;
  right: -60px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--scondary);
}

.help_card .question_mark {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  padding: 1rem;
  border: 20px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-black);
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  font-weight: 900;
  background: var(--primary);
}

.help_card .card h3.card_heading {
  margin-top: 2rem;
}

.help_card .card p.card_desc {
  color: var(--font-dark-green);
  font-size: 0.8rem;
  font-weight: 500;
}

.help_card .card a {
  background: #ffffff;
  padding: 0.7rem 1rem;
  font-family: var(--font-roboto);
  font-size: 0.8rem;
  color: #000000;
  font-weight: 500;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
}

/* ------------------😇context section start------------------- */

.content {
  width: 100%;
  padding: 1rem 3%;
  background: url("./images/side_bg.jpg") no-repeat;
  background-size: 200%;
  background-position: center;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftside_titles .heading_1 {
  font-family: var(--font-poppins);
  font-size: 1.3rem;
  color: var(--font-black);
}

.leftside_titles .heading_2 {
  font-family: var(--font-poppins);
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--font-dark-grey);
}

.rightside_content {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.rightside_content .searchbar {
  display: flex;
  gap: 10px;
  background: #ffffff36;
  padding: 10px;
  color: var(--font-grey);
  box-shadow: 0px 0px 10px 0px #70707085;
  backdrop-filter: blur(20px);
}

.searchbar input {
  border: none;
  outline: none;
  caret-color: var(--font-green);
  color: var(--font-dark-green);
  background: #ffffff36;
}

.searchbar input::placeholder {
  color: var(--font-grey);
}

.button_set {
  display: flex;
  gap: 0.6rem;
}

a.button {
  padding: 10px;
  background: #ffffff;
  color: var(--font-black);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 50px 50px #c9c9c9;
}

a.button span {
  font-size: 1.2rem;
}

.notification {
  position: relative;
}

.notification::after {
  content: "1";
  width: 10px;
  height: 10px;
  font-size: 0.5rem;
  padding: 4px;
  color: #ffffff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  right: 0%;
  background: red;
  border-radius: 50%;
}

a.profile {
  width: 40px;
  height: 40px;
}

a.profile img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

@media screen and (max-width: 540px) {
  a.button {
    display: none;
  }
}

.menu_btn {
  display: none;
  padding: 5px;
  background: #ffffff;
  border: none;
}

.sidebar .close_navbar_btn {
  display: none;
}

/* ------------------😉main layout section-------------- */

.main_layout {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.5%;
}

.main_layout main {
  grid-column: 1/8;
}

.main_layout main::-webkit-scrollbar {
  display: none;
}

.main_layout aside {
  grid-column: 8/13;
  max-height: 104vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main_layout aside::-webkit-scrollbar {
  display: none;
}

.poster {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background: url("./images/poster.webp") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0px 20px 50px 0px #707070dd;
}

.poster h1 {
  font-size: 1.5rem;
  font-family: var(--font-poppins);
  color: var(--font-green);
  font-weight: 600;
  line-height: 2rem;
}

.poster h4 {
  max-width: 300px;
  font-size: 1rem;
  font-family: var(--font-poppins);
  color: var(--font-dark-green);
  font-weight: 300;
  line-height: 1.4rem;
}

.poster .button_set {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.poster .button_set button {
  padding: 0.6rem 1.6rem;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}

.poster .button_set button:nth-child(1) {
  background: #fff;
  font-family: var(--font-roboto);
  color: var(--font-dark-green);
  font-weight: 600;
}

.poster .button_set button:nth-child(2) {
  background: transparent;
  font-family: var(--font-roboto);
  color: #fff;
  font-weight: 600;
}

.items_container {
  margin-top: 3rem;
}

.heading_n_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading_n_link h1 {
  font-size: 1.2rem;
  font-family: var(--font-poppins);
  color: var(--font-dark-green);
  text-transform: capitalize;
}

.heading_n_link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  font-size: 0.8rem;
  color: var(--font-grey);
  font-weight: 600;
  font-family: var(--font-poppins);
}

.items {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e070;
  border-radius: 5px;
}

.item img {
  width: 150px;
  height: 200px;
}

.item h3.item_text {
  font-family: var(--font-poppins);
  font-size: 0.9rem;
  text-transform: capitalize;
  padding-block: 0.5rem;
}

.item:nth-child(2) {
  box-shadow: 0px 0px 50px 0px #70707043;
}

.seller_info {
  margin-top: 2rem;
  font-family: var(--font-poppins);
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  gap: 0.8rem;
}

.top_seller {
  width: 100%;
}

.top_seller .top {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .heading {
  color: var(--font-dark-green);
}

.top .view_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  font-size: 0.8rem;
  color: var(--font-grey);
  font-weight: 600;
}

.top .view_all span {
  font-size: 0.9rem;
}

.bottom {
  margin-top: 0.6rem;
  padding: 20px 10px;
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.7rem;
  border: 2px solid #b3b3b368;
  border-radius: 5px;
  box-shadow: 0px 30px 110px 0px #70707042;
}

.bottom .top_profiles {
  min-width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom .top_profiles img {
  border-radius: 50%;
  border: 3px solid #fff;
}

.bottom .top_profiles img:not(img:nth-child(1)) {
  margin-left: -15px;
}

hr.middle_line {
  width: 2px;
  height: 40px;
  background: #94c7b5;
  border-radius: 10px;
  border: none;
}

.bottom .record {
  min-width: 35%;
  padding-inline: 0.6rem;
}

.bottom .record .no_of_sold {
  color: var(--font-dark-grey);
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 0.8rem;
}

.bottom .record .seller_metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  font-family: var(--font-poppins);
  color: var(--font-grey);
  font-weight: 600;
  font-size: 0.7rem;
}

/* -----------------😇aside section styling--------------- */
aside .states_info_card {
  position: relative;
  width: 100%;
  display: flex;
  background: var(--primary);
  font-family: var(--font-poppins);
  border-radius: 7px;
}

.card_info {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  z-index: 5;
}

.card_info .states {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card_info .states h1.info_title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--font-dark-grey);
}

.card_info .states .states_info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  z-index: 2;
}

.card_info .states .states_info .orders p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--font-dark-grey);
}

.card_info .states .states_info .orders h3 {
  font-size: 1rem;
  font-weight: 700;
}

.card_info a.goto_orders {
  color: var(--font-dark-grey);
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card_info a.goto_orders span {
  font-size: 1rem;
  font-weight: 600;
}

.states_info_card img.card_img {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 200px;
  z-index: 1;
}

.recent_acivity_bar {
  margin-top: 2.5rem;
}

.recent_acivity_bar .top {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-poppins);
}

.recent_acivity_bar .top .heading {
  font-size: 1.3rem;
}

.activity_list {
  margin-top: 1rem;
}

.activity_list .record {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
  padding: 1rem 0.6rem;
  background: rgba(255, 255, 255, 0.829);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 2px solid #e0e0e070;
}

.record .record_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.record .record_info .person_image {
  width: 40px;
  border-radius: 50%;
}

.person_data {
  font-family: var(--font-poppins);
}

.person_data .person_name {
  color: var(--font-dark-grey);
  font-size: 0.8rem;
  font-weight: 600;
}

.record_arrival_time {
  font-family: var(--font-poppins);
  color: var(--font-grey);
  font-size: 0.8rem;
  font-weight: 500;
}

.person_data .person_record_title {
  font-size: 0.8rem;
  color: var(--font-grey);
  font-weight: 500;
  line-height: 0.9rem;
}

/*code for  💻tablet responsive design */
@media screen and (max-width: 1080px) and (min-width: 768px) {
  .content {
    grid-area: "content";
    background: url("./images/side_bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    max-height: auto;
    overflow-x: hidden;
  }

  .logo .link_text {
    display: none;
  }

  .link .link_text {
    display: none;
  }

  .help_card {
    display: none;
  }

  .main_section {
    grid-template-columns: auto 1fr;
  }

  .sidebar_bar {
    display: none;
  }

  .sidebar_links .link {
    justify-content: center;
  }

  .items {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .items {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .seller_info {
    margin-top: 2rem;
    font-family: var(--font-poppins);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;
  }

  .card_info {
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 5;
    background: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
  }

  .states_info_card img.card_img {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 170px;
    z-index: 1;
  }
}

/* code for 📱mobile responsive design */
@media screen and (max-width: 768px) {
  .main_section {
    grid-template-columns: 1fr;
  }

  .menu_btn {
    display: block;
    cursor: pointer;
  }

  .sidebar .close_navbar_btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 10px;
    background: transparent;
    cursor: pointer;
  }

  .sidebar {
    width: minmax(100vw, 350px);
    position: absolute;
    top: 0%;
    left: -140%;
    transition: all 1s ease;
    background: #ffffff;
    z-index: 6;
  }

  .open_sidebar {
    top: 0%;
    left: 0%;
  }

  .leftside_titles {
    display: none;
  }

  .rightside_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .searchbar {
    padding: 5px;
    z-index: 5;
  }

  .searchbar .tune_icon {
    display: none;
  }

  .button_set {
    display: flex;
    align-items: center;
  }

  a.profile {
    width: 30px;
    height: 30px;
  }

  a.profile img {
    border-radius: 50%;
  }

  .main_layout main {
    grid-column: 1/13;
  }

  .content {
    background: url("./images/side_bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main_layout aside {
    grid-column: 1/13;
    max-height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
}

/* second endpoint for mobile device */

@media screen and (max-width: 618px) {
  .content {
    background: url("./images/side_bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .poster .button_set {
    flex-direction: column;
  }

  .poster .button_set button {
    width: 100%;
  }

  .main_layout aside {
    max-height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }

  .rightside_content .searchbar {
    padding: 5px;
  }

  .items {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: minmax(180px, 370px);
    justify-content: center;
    gap: 2rem;
  }

  .seller_info {
    margin-top: 2rem;
    font-family: var(--font-poppins);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }

  .card_info {
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 5;
    background: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
  }

  .states_info_card img.card_img {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 170px;
    z-index: 1;
  }
}
