@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --primary: #c0f497;
  --scondary: #e0faca;

  --font-green: #62a82b;
  --font-dark-green: #3d7313;
  --font-black: #1e1e1e;
  --font-grey: #ababab;
  --font-dark-grey: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 16px;
}

.main_section {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1;
  grid-template-areas: "sidebar" "content";
}

.sidebar {
  position: relative;
  grid-area: "sidebar";
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1.5px solid #dedede;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.content {
  grid-area: "content";
}

/* -------------------😇sidebar---------------------- */
.close_navbar {
  display: none;
}

.logo {
  width: 100%;
  padding: 1rem 1rem;
  font-family: var(--font-poppins);
  color: var(--font-green);
  font-weight: 800;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo .icon {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1.8rem;
  background: rgba(158, 208, 158, 0.1);
  border-radius: 5px;
}

.logo .link_text {
  display: flex;
  align-items: center;
}

.sidebar_links {
  margin-top: 1rem;
}

.sidebar_links .link {
  position: relative;
  width: 100%;
  padding: 0.8rem 1rem;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.link:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: var(--font-green);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.link:hover .icon {
  color: var(--font-green);
}

.link:hover .link_text {
  color: var(--font-green);
}

.link .icon {
  display: flex;
  align-items: center;
  color: var(--font-dark-grey);
  font-size: 1.4rem;
}

.link .link_text {
  display: flex;
  align-items: center;
  color: var(--font-grey);
  font-size: 0.9rem;
  text-transform: capitalize;
}

.sidebar_bar {
  margin-top: 2.4rem;
  padding-left: 1rem;
  color: var(--font-black);
  font-size: 0.7rem;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-transform: uppercase;
}

.sidebar_links:nth-child(4) .link .link_text {
  color: var(--font-dark-grey);
}

.sidebar_links:nth-child(4) .link:hover .link_text {
  color: var(--font-green);
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  .logo .link_text {
    display: none;
  }

  .link .link_text {
    display: none;
  }

  .main_section {
    grid-template-columns: auto 1fr;
  }

  .sidebar_bar {
    display: none;
  }

  .sidebar_links .link {
    justify-content: center;
  }
}

/* ------------------😇context section start------------------- */

.content {
  width: 100%;
  padding: 1rem 3%;
  background: #f9fbfc;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftside_titles .heading_1 {
  font-family: var(--font-poppins);
  font-size: 1.3rem;
  color: var(--font-black);
}

.leftside_titles .heading_2 {
  font-family: var(--font-poppins);
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--font-dark-grey);
}

.rightside_content {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.rightside_content .searchbar {
  display: flex;
  gap: 10px;
  background: #ffffff;
  padding: 10px;
  color: var(--font-grey);
}

.searchbar input {
  border: none;
  outline: none;
  caret-color: var(--font-green);
  color: var(--font-dark-green);
}

.searchbar input::placeholder {
  color: var(--font-grey);
}

.button_set {
  display: flex;
  gap: 0.6rem;
}

a.button {
  padding: 10px;
  background: #ffffff;
  color: var(--font-black);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 50px 50px #c9c9c9;
}

a.button span {
  font-size: 1.2rem;
}

.notification {
  position: relative;
}

.notification::after {
  content: "1";
  width: 10px;
  height: 10px;
  font-size: 0.5rem;
  padding: 4px;
  color: #ffffff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  right: 0%;
  background: red;
  border-radius: 50%;
}

a.profile {
  width: 40px;
  height: 40px;
}

a.profile img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

@media screen and (max-width: 540px) {
  a.button {
    display: none;
  }
}

.menu_btn {
  display: none;
  padding: 5px;
  background: #ffffff;
  border: none;
}

.sidebar .close_navbar_btn {
  display: none;
}

/* code for 📱mobile responsive design */
@media screen and (max-width: 768px) {
  .main_section {
    grid-template-columns: 1fr;
  }

  .menu_btn {
    display: block;
    cursor: pointer;
  }

  .sidebar .close_navbar_btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 10px;
    background: transparent;
    cursor: pointer;
  }

  .sidebar {
    width: 100%;
    position: absolute;
    top: 0%;
    left: -100%;
    transition: all 1s ease;
    background: #ffffff;
    z-index: 5;
  }

  .open_sidebar {
    top: 0%;
    left: 0%;
  }

  .leftside_titles {
    display: none;
  }

  .rightside_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
}
